<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
    <head>
        <link rel="icon" href="https://ankorstore.com/favicon.svg" sizes="any" type="image/svg+xml">
        <title>Companies Search Demo</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14"></script>
        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF" crossorigin="anonymous"></script>
        <script src="https://kit.fontawesome.com/be40e717f7.js" crossorigin="anonymous"></script>
    </head>
    <body>
        <div id="app" class="container">
            <div class="jumbotron" style="padding-bottom: 5px">
                <div>
                    <div class="float-left">
                        <h3>
                            <i class="fa fa-building"></i>&nbsp;<strong>Companies Search Demo</strong>
                        </h3>
                    </div>
                    <div class="float-right">
                        <span class="badge badge-pill badge-secondary" v-if="loading">
                            <i class="fas fa-spinner fa-spin"></i>&nbsp;Loading...
                        </span>
                        <span class="badge badge-pill badge-success" v-else>
                            <i class="fas fa-clock"></i>&nbsp;Loaded in ~{{ data.search_time_ms }} ms
                        </span>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <hr/>
                <div class="alert alert-success alert-no-margin-bottom" role="alert">
                    <div class="float-left">
                        <i class="fas fa-bullhorn"></i>&nbsp;<a href="https://typesense.org" target="_blank">Typesense</a> based demo application, written using <a href="https://go.dev" target="_blank">Golang</a>, <a href="https://vuejs.org" target="_blank">Vue.js</a> and <a href="https://axios-http.com" target="_blank">Axios</a>.
                    </div>
                    <div class="float-right">
                        <i class="fab fa-github"></i>&nbsp;<a href="https://github.com/ekkinox/typesense-go-demo" target="_blank">See on Github</a>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
            <div class="card">
                <div class="card-header">
                    <ul class="nav nav-tabs nav-justified card-header-tabs" id="userTab" role="tablist">
                        <li class="nav-item" role="presentation">
                            <a class="nav-link active" id="auth-tab" data-toggle="tab" href="#search" role="tab" aria-controls="search" aria-selected="true">
                                <i class="fas fa-search"></i>&nbsp;Search companies&nbsp;<span class="badge badge-pill badge-primary">{{ data.out_of }}</span>
                            </a>
                        </li>
                        <li class="nav-item" role="presentation">
                            <a class="nav-link" id="populate-tab" data-toggle="tab" href="#populate" role="tab" aria-controls="populate" aria-selected="false">
                                <i class="fas fa-database"></i>&nbsp;Manage Companies
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="card-body tab-content">
                    <div class="tab-pane fade show active" id="search" role="tabpanel" aria-labelledby="search-tab">
                        <div class="alert alert-info" role="alert">
                            <i class="fas fa-info-circle"></i>&nbsp;You can <strong>full-text search</strong> within the <strong>{{ data.out_of }}</strong> available companies below, with the expression of your choice.
                        </div>
                        <div class="input-group">
                            <div class="input-group-prepend" title="See Typesense search documentation">
                                <a href="https://typesense.org/docs/0.23.1/api/search.html" target="_blank" class="btn btn-secondary"><i class="fas fa-book"></i></a>
                            </div>
                            <input type="text" class="form-control" placeholder="Search for companies" aria-label="Search for companies" v-model="expression"/>
                            <div class="input-group-append">
                                <button class="btn btn-secondary" type="button" v-on:click="reload">
                                    <i class="fas fa-sync"></i>&nbsp;Reset
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="populate" role="tabpanel" aria-labelledby="populate-tab">
                        <div class="alert alert-warning" role="alert">
                            <i class="fas fa-exclamation-circle"></i>&nbsp;Warning: this will <strong>wipe and repopulate the companies collection</strong> on Typesense, with the number of companies of your choice.
                        </div>
                        <div class="input-group">
                            <input type="number" class="form-control" placeholder="500" aria-label="Number of companies to populate" v-model="populate_count"/>
                            <div class="input-group-append">
                                <button class="btn btn-danger text-light" type="button" v-on:click="populate">
                                    <i class="fas fa-exclamation-circle"></i>&nbsp;Wipe and repopulate
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br/>
            <div class="row">
                <div class="col-md-2">
                    <div class="card">
                        <div class="card-header"><i class="fa fa-globe"></i>&nbsp;Countries</div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item d-flex justify-content-between align-items-center" v-for="facet in countryFacets">
                                <span>
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" v-bind:id="facet.value" v-bind:value="facet.value" v-model="countries">
                                        <label class="form-check-label" v-bind:for="facet.value">{{ facet.value }}</label>
                                    </div>
                                </span>
                                <span class="badge badge-primary badge-pill">{{ facet.count }}</span>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-10">
                    <div class="card">
                        <div class="card-header">
                            <nav aria-label="Page navigation example">
                                <div class="float-left">
                                    <form class="form-inline">
                                        <i class="fa fa-building"></i>&nbsp;Showing&nbsp;&nbsp;
                                        <select id="inputState" class="form-control form-control-sm" v-model="size">
                                            <option selected>20</option>
                                            <option>50</option>
                                            <option>100</option>
                                            <option>250</option>
                                        </select>
                                        &nbsp;&nbsp;out of &nbsp;<b>{{ data.found }}</b>&nbsp; companies&nbsp;&nbsp;
                                    </form>
                                </div>
                                <div class="float-right">
                                    <ul class="pagination pagination-sm justify-content-end" style="margin-bottom: 0 !important;">
                                        <li class="page-item active" v-if="canPrev"><a class="page-link" href="#" tabindex="-1" v-on:click="page -= 1">&laquo;</a></li>
                                        <li class="page-item disabled" v-else><a class="page-link" href="#" tabindex="-1">&laquo;</a></li>
                                        <li class="page-item disabled"><a class="page-link" href="#">{{ page }}</a></li>
                                        <li class="page-item active" v-if="canNext"><a class="page-link" href="#" v-on:click="page += 1">&raquo;</a></li>
                                        <li class="page-item disabled"  v-else><a class="page-link" href="#">&raquo;</a></li>
                                    </ul>
                                </div>
                            </nav>
                        </div>
                        <div class="card-body">
                            <div class="card-columns">
                                <div class="card bg-light" v-for="hit in highlightedHits">
                                    <div class="card-header">
                                        <i class="fa fa-building"></i>&nbsp;<span v-html="hit.dName">{{ hit.dName}}</span>
                                    </div>
                                    <div class="card-body">
                                        <p class="card-text" style="border-left-width: 2px; border-left-color: darkcyan">
                                            "<em><span v-html="hit.dDesc">{{ hit.document.dDesc }}</span></em>"
                                        </p>
                                        <p class="card-text">
                                            <i class="fa fa-map-marker"></i>&nbsp;<span v-html="hit.dAddr">{{ hit.document.dAddr }}</span>
                                        </p>
                                    </div>
                                    <div class="card-footer">
                                        <div class="float-left">
                                            <small class="text-muted"><i class="fa fa-users"></i>&nbsp;{{ hit.document.num_employees }} employees</small>
                                        </div>
                                        <div class="float-right">
                                            <small class="text-muted"><i class="fa fa-globe"></i>&nbsp;{{ hit.document.country }}</small>
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
    <script>

        axios.defaults.withCredentials = true;

        new Vue({
            el: '#app',
            data () {
                return {
                    loading: false,
                    expression: "",
                    page: 1,
                    size: 20,
                    countries: [],
                    canPrev: false,
                    canNext: true,
                    populate_count: 500,
                    data: {
                        found: 0,
                        out_of: 0,
                        page: 0,
                        hits: [],
                        facet_counts: [
                            {
                                counts: []
                            }
                        ],
                        search_time_ms: 0
                    },
                }
            },
            watch: {
                expression(value) {
                    if (value !== "") {
                        this.search()
                    } else {
                        this.reload()
                    }
                },
                page() {
                    this.search()
                },
                size() {
                    this.search()
                },
                countries() {
                    this.search()
                }
            },
            methods: {
                populate() {
                    if(confirm("Are you sure?")) {
                        this.loading = true
                        axios
                            .get('/populate?count=' + this.populate_count)
                            .then(response => alert(response.data.count + ' companies were populated with success.'))
                            .finally(() => this.reload())
                    }
                },
                search() {
                    this.loading = true
                    axios
                        .get('/search?expression=' + this.expression + '&page=' + this.page + '&size=' + this.size + '&countries=' + this.countries.join(','))
                        .then(response => this.data = response.data)
                        .finally(() => {this.refreshPaginate(); this.loading = false})
                },
                reload() {
                    this.expression = ""
                    this.page = 1
                    this.size = 20
                    this.loading = true
                    axios
                        .get('/search?page=' + this.page + '&size=' + this.size)
                        .then(response => this.data = response.data)
                        .finally(() => {this.refreshPaginate(); this.loading = false})
                },
                refreshPaginate() {
                    this.canPrev = this.page > 1
                    this.canNext = ((this.data.found - (this.page * this.size)) > 0)
                }
            },
            computed: {
                highlightedHits: function () {
                    this.data.hits.forEach(function (hit) {

                        hit.dName = hit.document.name
                        hit.dDesc = hit.document.description
                        hit.dAddr = hit.document.address

                        hit.highlights.forEach(function (h) {
                            if (h.field === "name") {
                                hit.dName = h.snippet
                            }
                            if (h.field === "description") {
                                hit.dDesc = h.snippet
                            }
                            if (h.field === "address") {
                                hit.dAddr = h.snippet
                            }
                        })
                    })

                    return this.data.hits
                },
                countryFacets: function () {
                    return this.data.facet_counts[0].counts
                }
            },
            mounted () {
                this.reload()
            },
        })
    </script>
</html>