<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
    <head>
        <link rel="icon" href="https://ankorstore.com/favicon.svg" sizes="any" type="image/svg+xml">
        <title>Companies Search Demo</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14"></script>
        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF" crossorigin="anonymous"></script>
        <script src="https://kit.fontawesome.com/be40e717f7.js" crossorigin="anonymous"></script>
    </head>
    <body>
        <div id="app" class="container">
            <div class="jumbotron" style="padding-bottom: 5px">
                <h3>
                    <i class="fa fa-building"></i>&nbsp;<strong>Companies Search Demo</strong>
                </h3>
                <hr/>
                <div class="alert alert-primary alert-no-margin-bottom" role="alert">
                    <i class="fas fa-info-circle"></i>&nbsp;<a href="https://typesense.org" target="_blank">Typesense</a> based demo application, written using <a href="https://go.dev" target="_blank">Golang</a>, <a href="https://vuejs.org" target="_blank">Vue.js</a> and <a href="https://axios-http.com" target="_blank">Axios</a>.
                </div>
            </div>
            <div class="card">
                <div class="card-header">
                    <ul class="nav nav-tabs nav-justified card-header-tabs" id="userTab" role="tablist">
                        <li class="nav-item" role="presentation">
                            <a class="nav-link active" id="auth-tab" data-toggle="tab" href="#search" role="tab" aria-controls="search" aria-selected="true">
                                <i class="fas fa-search"></i>&nbsp;Search
                            </a>
                        </li>
                        <li class="nav-item" role="presentation">
                            <a class="nav-link" id="register-tab" data-toggle="tab" href="#populate" role="tab" aria-controls="populate" aria-selected="false">
                                <i class="fas fa-plus-circle"></i>&nbsp;Populate
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="card-body">
                    <div class="tab-pane fade show active" id="search" role="tabpanel" aria-labelledby="search-tab">
                        <div class="input-group">
                            <div class="input-group-prepend" title="See Manticore search documentation">
                                <a href="https://manual.manticoresearch.com/Searching/Intro" target="_blank" class="btn btn-secondary"><i class="fas fa-info-circle"></i></a>
                            </div>
                            <input type="text" class="form-control" placeholder="Search for companies" aria-label="Search movies" v-model="expression"/>
                            <div class="input-group-append">
                                <button class="btn btn-primary" type="button" v-on:click="reload">
                                    <span v-if="loading"><i class="fas fa-spinner fa-spin"></i>&nbsp;Loading...</span>
                                    <span v-else><i class="fas fa-sync"></i>&nbsp;Reset</span>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="populate" role="tabpanel" aria-labelledby="populate-tab">
                        todo
                    </div>
                </div>
            </div>
            <br/>
            <div class="card">
                <div class="card-header">Results {{ data.found }} out of {{ data.out_of }} (took {{ data.search_time_ms }} ms)</div>
                <div class="card-body">
                    <div class="card-columns">
                        <div class="card" v-for="hit in highlightedHits">
                            <div class="card-body">
                                <h6 class="card-title"><i class="fa fa-building"></i>&nbsp;<strong v-html="hit.dName">{{ hit.dName}}</strong>&nbsp;<small>({{ hit.document.country }})</small></h6>
                                <p class="card-text" v-html="hit.dDesc">{{ hit.document.dDesc }}</p>
                                <p class="card-text">{{ hit.document.address }}</p>
                                <span class="card-text"><small class="text-muted">Num employees: {{ hit.document.num_employees }}</small></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
    <script>

        axios.defaults.withCredentials = true;

        new Vue({
            el: '#app',
            data () {
                return {
                    loading: false,
                    expression: "",
                    data: {
                        found: 0,
                        out_of: 0,
                        page: 0,
                        hits: [],
                        search_time_ms: 0
                    },
                }
            },
            watch: {
                expression(value) {
                    if (value !== "") {
                        this.search()
                    } else {
                        this.reload()
                    }
                }
            },
            methods: {
                search() {
                    this.loading = true
                    axios
                        .get('/search?expression=' + this.expression)
                        .then(response => this.data = response.data)
                        .finally(() => this.loading = false)
                },
                reload() {
                    this.expression = ""
                    this.loading = true
                    axios
                        .get('/search')
                        .then(response => this.data = response.data)
                        .finally(() => this.loading = false)
                }
            },
            computed: {
                highlightedHits: function () {
                    this.data.hits.forEach(function (hit) {

                        hit.dName = hit.document.name
                        hit.dDesc = hit.document.description

                        hit.highlights.forEach(function (h) {
                            if (h.field === "name") {
                                hit.dName = h.snippet
                            }
                            if (h.field === "description") {
                                hit.dDesc = h.snippet
                            }
                        })
                    })

                    return this.data.hits
                }
            },
            mounted () {
                this.reload()
            },
        })
    </script>
</html>